# Ignore generated implants and logs
implants/
stage0_logs/

# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Editor/project files
.vscode/
.idea/
*.swp
*.swo

# Ignore compiled binaries
*.exe
*.dll
*.so
*.o
*.out

# Ignore config backups
*~

# Do not ignore main project files
!README.md
!generator.py
!server.py 

# Ignore my wishlist because why not
Wishlist
